[submodule "syms/BanjoRecompSyms"]
	path = syms/BanjoRecompSyms
	url = https://github.com/BanjoRecomp/BanjoRecompSyms.git
[submodule "syms/Zelda64RecompSyms"]
	path = syms/Zelda64RecompSyms
	url = https://github.com/Zelda64Recomp/Zelda64RecompSyms.git
[submodule "syms/Starfox64RecompSyms"]
	path = syms/Starfox64RecompSyms
	url = https://github.com/sonicdcer/Starfox64RecompSyms.git
[submodule "syms/MarioKart64RecompSyms"]
	path = syms/MarioKart64RecompSyms
	url = https://github.com/sonicdcer/MarioKart64RecompSyms.git
[submodule "syms/Goemon64RecompSyms"]
	path = syms/Goemon64RecompSyms
	url = https://github.com/klorfmorf/Goemon64RecompSyms.git
[submodule "extern/websockets"]
	path = extern/websockets
	url = https://github.com/python-websockets/websockets
[submodule "extern/pyyaml"]
	path = extern/pyyaml
	url = https://github.com/yaml/pyyaml
[submodule "extern/schema"]
	path = extern/schema
	url = https://github.com/keleshev/schema
[submodule "extern/typing_extensions"]
	path = extern/typing_extensions
	url = https://github.com/python/typing_extensions
[submodule "extern/colorama"]
	path = extern/colorama
	url = https://github.com/tartley/colorama
[submodule "extern/python-certifi"]
	path = extern/python-certifi
	url = https://github.com/certifi/python-certifi
[submodule "extern/pypng"]
	path = extern/pypng
	url = https://gitlab.com/drj11/pypng.git
